*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;

}

body{
    background: linear-gradient(90deg, #1a1a1a, #000000);
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.6;
}